.login-body {
    margin-left: 15px;
    margin-right: 15px;
}

:host ::ng-deep .p-button {
    min-width: 8em;
}

:host ::ng-deep .p-message {
    margin-left: .25em;
}

.has-error{
    i{
        top: 35%;
    }
}

p-fileUpload{
    width: 100%;
}

.login-body .login-panel {
    min-width: 85rem !important;
}
